header{
	border-bottom: solid 2px #000000;
	padding: 5px 0px;
}
.navbar-default{
	border: none;
	background: none;
}

.navbar-header{
	margin-left:195px;	
}
.icon1 {
	background-color:  #000000;
	color: #FFFFFF;
	padding: 10px 9px;
}

.icon2{
	background-color:  #000000;
	color: #FFFFFF;
	padding: 7px 8px;
	padding-top: 8px;
	cursor: pointer;
	
}
.navbar-collapse{
	padding-right: 10px;
 	 padding-left: 10px;

}

.trai{
	padding-top: 15px;
}

.phai{
		padding-top: 7px;
}























